body {
    font-family: Arial, sans-serif;
    background-image: url('../../img/360_F_340078556_YD52qpLaiTbO5E0OF90FuOaAq3sZr8yF.jpg');
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: 	#C4A484;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
.container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
.container label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}
.container input[type="text"],
.container input[type="email"],
.container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline:none;
}
.container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.container input[type="submit"]:hover {
    background-color: #0056b3;
}
